@{
    ViewData["Title"] = "View Tasks";
}

@model List<CoveyForm>
<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">

                    <!-- Slider -->
                    <section class="cd-intro text-center" style="color: #121212">
                        <div class="quadrants-grid">
                            <div class="quadrant">
                                <h3>Important / Urgent</h3>
                                <table class="table table-responsive table-striped">
                                    <thead>
                                        <tr>
                                            <td>Due Date</td>
                                            <td>Task</td>
                                            <td>Category</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    <thead>
                                    <tbody>
                                        @foreach (var x in Model)
                                        {
                                            if (x.Quadrant == "Important & Urgent")
                                            {
                                                <tr>
                                                    <td>@x.DueDate</td>
                                                    <td>@x.Task</td>
                                                    <td>@x.Category.CategoryTitle</td>
                                                    <td><a asp-controller="Home" asp-action="EditTask" asp-route-taskid="@x.TaskId">Edit</a></td>
                                                    <td><a asp-controller="Home" asp-action="DeleteTask" asp-route-taskid="@x.TaskId">Delete</a></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="quadrant">
                                <h3>Important / Not Urgent</h3>
                                <table class="table table-responsive table-striped">
                                    <thead>
                                        <tr>
                                            <td>Due Date</td>
                                            <td>Task</td>
                                            <td>Category</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var x in Model)
                                        {
                                            if (x.Quadrant == "Important & Not Urgent")
                                            {
                                                <tr>
                                                    <td>@x.DueDate</td>
                                                    <td>@x.Task</td>
                                                    <td>@x.Category.CategoryTitle</td>
                                                    <td><a asp-controller="Home" asp-action="EditTask" asp-route-taskid="@x.TaskId">Edit</a></td>
                                                    <td><a asp-controller="Home" asp-action="DeleteTask" asp-route-taskid="@x.TaskId">Delete</a></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="quadrant">
                                <h3>Not Important / Urgent</h3>
                                <table class="table table-responsive table-striped">
                                    <thead>
                                        <tr>
                                            <td>Due Date</td>
                                            <td>Task</td>
                                            <td>Category</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var x in Model)
                                        {
                                            if (x.Quadrant == "Not Important & Urgent")
                                            {
                                                <tr>
                                                    <td>@x.DueDate</td>
                                                    <td>@x.Task</td>
                                                    <td>@x.Category.CategoryTitle</td>
                                                    <td><a asp-controller="Home" asp-action="EditTask" asp-route-taskid="@x.TaskId">Edit</a></td>
                                                    <td><a asp-controller="Home" asp-action="DeleteTask" asp-route-taskid="@x.TaskId">Delete</a></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>

                            </div>
                            <div class="quadrant">
                                <h3>Not Important / Not Urgent</h3>
                                <table class="table table-responsive table-striped">
                                    <thead>
                                        <tr>
                                            <td>Due Date</td>
                                            <td>Task</td>
                                            <td>Category</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var x in Model)
                                        {
                                            if (x.Quadrant == "Not Important & Not Urgent")
                                            {
                                                <tr>
                                                    <td>@x.DueDate</td>
                                                    <td>@x.Task</td>
                                                    <td>@x.Category.CategoryTitle</td>
                                                    <td><a asp-controller="Home" asp-action="EditTask" asp-route-taskid="@x.TaskId">Edit</a></td>
                                                    <td><a asp-controller="Home" asp-action="DeleteTask" asp-route-taskid="@x.TaskId">Delete</a></td>
                                                </tr>
                                            }
                                        } 
                                    </tbody>
                                </table>
                            </div>
                    </section> <!-- cd-intro -->
                    <!-- /.slider -->
                </div>
            </div>
        </div>
    </div>
</section>